
.toggle-button:selected {
    -fx-border-width: 3px;
}

.toggle-button:hover {
    -fx-border-width: 2px;
}
.toggle-button:hover:armed {
    -fx-border-width: 1px;
}

/* Define styles for ToggleButton */
.toggle-button {
    -fx-border-color: black; /* Border color */
}